

.top{
    border: 7px red solid;
    color: darkred;
    height: 100px;
    width: 300px;
    padding:30px 100px 50px 100px;
    text-align:center;
    font-size: 35px;
    border-radius: 25px;
    position:relative;
    background-color: whitesmoke;
    left: 570px;
    box-shadow: 5px 5px 5px 5px rgb(56, 5, 56);
    text-shadow:20px rgb(56, 5, 56) ;
}
.box1{
    border: 12px solid green;
    height: 1040px;
    
}
.start1{
    border:9px red solid;
    color: rgb(73, 1, 73);
    height: 300px;
    width: 300px;
    text-align: center;
    font-size:35px;
    line-height: 70px;
    padding: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    text-shadow: 10px 10px 10px 10px rgb(56, 5, 56) ;
    box-shadow: 5px 5px 5px 5px rgb(56, 5, 56);

}
.start2{
    border:9px red solid;
    border-radius:20px; 
    margin: 20px;
    height: 300px;
    width: 300px;
    text-align: center;
    position:relative;
    left: 1130px;
    bottom: 330px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 5px rgb(56, 5, 56);
}
.start3{
    border:9px red solid;
    color: rgb(73, 1, 73);
    height: 300px;
    width: 300px;
    line-height: 40px;
    font-size:35px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px; 
    margin-bottom: 10px;
    text-shadow: 10px 10px 10px 10px rgb(56, 5, 56) ;
    box-shadow: 5px 5px 5px 5px rgb(56, 5, 56);
}
.start4{
    border:9px red solid;
    height: 300px;
    width: 300px;
    text-align: center;
    font-size:30px;
    position:relative;
    left: 1230px;
    bottom: 340px;
    padding: 10px;
    border-radius: 20px; 
    background-color: whitesmoke;  
    box-shadow: 5px 5px 5px 5px rgb(56, 5, 56);
    text-shadow: ;
}
.extra{
    border:9px red solid;
    border-radius: 20px;
    background-color: greenyellow;
    color:brown;
    font-size: 30px;
    padding: 20px;
    height: 45px;
    width: 465px;
    position: fixed;
    top: 700px;
    left: 530px;
}
.extra2{
    border:0px greenyellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 170px;
    bottom: 70px;
    font-size: 20px;
}
.big{
    border: 12px violet solid;
    height: 690px;
    width: 800px;
    text-align:center;
    background-color:green;
    position: relative;
    left: 400px;
    bottom: 300px;
    

}
.small1{
    border: 5px salmon solid;
    height: 300px;
    width: 380px;
    text-align: center;
    line-height: 30px;
    margin-top: 70px;
    background-color: salmon;

}
.small2{
    border: 5px salmon solid;
    height: 300px;
    width: 392px;
    text-align: center;
    line-height: 30px;
    margin-top: 70px;
    
    background-color: salmon;
    position:relative;
    bottom:379px;
    left: 400px;;

}
.small3{
    border: 5px salmon solid;
    height: 250px;
    width: 792px;
    text-align: center;
    line-height: 30px;
    margin-top: 70px;
    position:relative;
    bottom: 435px;
    background-color: salmon;
}
.hor{
  background-color:white;
}
.button{
    border: 0px rgb(73, 1, 73) solid;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
